certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
-e git+ssh://git@github.com/Jdcawley/comic-shelf.git@4aaafc93be592f52bb6f19d7b6b4499571c5ba2d#egg=comic_shelf
greenlet==3.5.0
idna==3.16
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.7.0
